@import url("/css/responsive/extra-large-screen.css");
@import url("/css/responsive/large-screen.css");
@import url("/css/responsive/small-screen.css");
@import url("/css/responsive/tablet.css");
@import url("/css/responsive/mobile.css");

/* Document styling */

html {
    height: 100%;
    font-family: "Roboto", Arial, sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.margin-right-lg {
    margin-right: 8px;
}

.margin-right-md {
    margin-right: 4px;
}

.margin-right-sm {
    margin-right: 2px;
}